*{
  transform-style: preserve-3d;
  overflow: hidden;
  color: white;
  padding: 0;
  margin: 0;
}
body{
  height: 100vh;
  width: 100vw;
  background-color: black; 
  position: relative;
  perspective: 800px;
}

.table{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 700px;
  width: 120vw;
  /*delete when done*/ background-image: radial-gradient(ellipse at 50% 50%, #445297 0%, #ff0000 100%);
  transform: rotateX(45deg) translateZ(-4em) translateY(-2.5cm) translateX(25em) /* rotateY(180deg) */ /* rotateZ(180deg) */;
}

/* player and enemy sides */
.enemySide{
  text-align: end;
  transform: rotateZ(180deg);
  /*delete when done*/ background-color: blue;
}
.playerSide{
  /*delete when done*/ background-color: purple;
}
.playerSide, .enemySide{
  height: 50%;
}


.playerTrumpCardSpace{
  /*delete when done*/ background-color: #445e97;
}
.playerTrumpCardSpace, .enemyTrumpCardSpace{
  font-size: 4em;
  height: 30%;
}
.enemyTrumpCardSpace{
  /*delete when done*/ background-color: #b8de0c;
}



.playerCardSpace, .enemyCardSpace{
  font-size: 9em;
  height: 55%;
  /*delete when done*/ background-color: #ff00c8;
}
.playerCardCounter, .enemyCardCounter{ /*done for now*/
  justify-self: center;
  text-align: center;
  font-size: 2.5em;
  height: 15%;
  width: 15%;
  background-image: linear-gradient(90deg, transparent, black, black, transparent);
  opacity: 0.9;
}
.enemyCardCounter{
  transform: rotateZ(180deg);
}
.playerCardCounter div,
.enemyCardCounter div {
  display: inline;
}


:root{
  --cardHeight: 180px;
  --cardWidth: 140px;
}


.enemyCardSpace > div, .playerCardSpace > div { /*playing card specs*/
  height: var(--cardHeight);
  width: var(--cardWidth);
  top: 5px;
  position: absolute;
  box-shadow: 0px 0px 15px 3px;
  background-size: 100% 100%;
}

.player_PlayingCard_Place_1{
  left: 1.5em;
  background-image: url(pictures/back_of_card.png);
}
.player_PlayingCard_Place_2{
  left: calc(2.5em + 20px);
  background-image: url(pictures/PlayingCard2.png);
}
.player_PlayingCard_Place_3{
  left: calc(3.5em + 40px);
  background-image: url(pictures/PlayingCard3.png);
}
.player_PlayingCard_Place_4{
  left: calc(4.5em + 60px);
  background-image: url(pictures/PlayingCard4.png);
}
.player_PlayingCard_Place_5{
  left: calc(5.5em + 80px);
  background-image: url(pictures/PlayingCard5.png);
}
.player_PlayingCard_Place_6{
  left: calc(6.5em + 100px);
  background-image: url(pictures/PlayingCard6.png);
}


.enemy_PlayingCard_Place_1{
  right: 1.5em;
  background-image: url(pictures/PlayingCard1.png);
}
.enemy_PlayingCard_Place_2{
  right: calc(2.5em + 20px);
  background-image: url(pictures/PlayingCard2.png);
}
.enemy_PlayingCard_Place_3{
  right: calc(3.5em + 40px);
  background-image: url(pictures/PlayingCard3.png);
}
.enemy_PlayingCard_Place_4{
  right: calc(4.5em + 60px);
  background-image: url(pictures/PlayingCard4.png);
}
.enemy_PlayingCard_Place_5{
  right: calc(5.5em + 80px);
  background-image: url(pictures/PlayingCard5.png);
}
.enemy_PlayingCard_Place_6{
  right: calc(6.5em + 100px);
  background-image: url(pictures/PlayingCard6.png);
}

.firstCardsSpace{
  position: absolute;
  top: 15px;
  height: 25%;
  width: 140%;
  justify-self: center;
  background-image: linear-gradient(90deg, transparent, black, black, transparent);
  opacity: 0.8;
}
.opponent{
  position: absolute;
  top: 3vh;
  height: 64vh;
  width: 25vh;
  background-image: url("pictures/teletubbyEnemy.png");
  background-size: contain;
  justify-self: center;
  background-repeat: no-repeat;
}